---
import '../styles/base/_mixin.scss';
import '../styles/base/_reset.scss';
import '../styles/base/_variables.scss';
import '../styles/header.scss';
import '../styles/footer.scss';
import '../styles/common.scss';
import '../styles/privacy.scss';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "トップページ｜エム・エイチ・システム株式会社";
const siteDomein = "https://m-h-system.co.jp/system_panel/uploads/images/";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <div class="content main">
        <div class="pageHeader">
            <div class="pageHeaderBg">
                <div class="pageHeaderGroup">
                    <p class="pageHeaderDesc">Privacy Policy</p>
                    <h1 class="pageHeaderFront">プライバシーポリシー</h1>
                </div>
                <img width="1440" height="450" src="<?php echo ($domain); ?>20240820204803334056.png" alt="プライバシーポリシー" class="pageHeaderImg" width="1411" height="420" />
            </div>
        </div>
        <div class="section">
            <div class="sectionInr contact__inner">
                <div class="block">
                    <p class="txt">
                        【エム・エイチ・システム株式会社】（以下「当社」といいます。）は、当社の提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
                    </p>

                </div>
                <div class="block">
                    <h2 class="h2">1.収集する利用者情報及び収集方法
                    </h2>
                    <p class="txt">
                        本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき当社が収集するものを意味するものとします。本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。
                    </p>
                    <p class="txt">
                        (1) ユーザーからご提供いただく情報 本サービスを利用するために、または本サービスの利用を通じてユーザーからご提供いただく情報は以下のとおりです。
                    </p>
                    <p class="txt">
                        ・氏名、生年月日、性別、職業等プロフィールに関する情報
                    </p>
                    <p class="txt">・メールアドレス、電話番号、住所等連絡先に関する情報
                    </p>
                    <p class="txt">・入力フォームその他当社が定める方法を通じてユーザーが入力または送信する情報
                    </p>
                    <p class="txt">
                        (2) ユーザーが本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報
                    </p>
                    <p class="txt">
                        ユーザーが、本サービスを利用するにあたり、ソーシャルネットワーキングサービス等の他のサービスとの連携を許可した場合には、その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから収集します。
                    </p>
                    <p class="txt">
                        ・当該外部サービスでユーザーが利用するID
                    </p>
                    <p class="txt">・その他当該外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報
                    </p>
                    <p class="txt">
                        (3) ユーザーが本サービスを利用するにあたって、当社が収集する情報
                    </p>
                    <p class="txt">当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。
                    </p>
                    <p class="txt">・リファラ
                    </p>
                    <p class="txt">・IPアドレス
                    </p>
                    <p class="txt">・サーバーアクセスログに関する情報
                    </p>
                    <p class="txt">・Cookie、ADID、IDFAその他の識別子
                    </p>
                    <p class="txt">
                        (4) ユーザーが本サービスを利用するにあたって、当社がユーザーの個別同意に基づいて収集する情報
                    </p>
                    <p class="txt">当社は、ユーザーが3-1に定める方法により個別に同意した場合、当社は以下の情報を利用中の端末から収集します。
                    </p>
                    <p class="txt">・位置情報
                    </p>

                </div>
                <div class="block">
                    <h2 class="h2">2.利用目的
                    </h2>
                    <p class="txt">
                        本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。
                    </p>
                    <p class="txt">(1)
                        本サービスに関する登録の受付、本人確認、ユーザー認証、ユーザー設定の記録、利用料金の決済計算等本サービスの提供、維持、保護及び改善のため
                    </p>
                    <p class="txt">(2) ユーザーのトラフィック測定及び行動測定のため
                    </p>
                    <p class="txt">(3) 広告の配信、表示及び効果測定のため
                    </p>
                    <p class="txt">(4) 本サービスに関するご案内、お問い合わせ等への対応のため
                    </p>
                    <p class="txt">(5) 本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
                    </p>
                    <p class="txt">(6) 本サービスに関する規約等の変更などを通知するため
                    </p>
                </div>

                <div class="block">
                    <h2 class="h2">3.通知・公表または同意取得の方法、利用中止要請の方法
                    </h2>
                    <p class="txt">
                        3-1 以下の利用者情報については、その収集が行われる前にユーザーの同意を得るものとします。・位置情報
                    </p>
                    <p class="txt">
                        3-2
                        ユーザーは、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその収集又は利用の停止を求めることができ、この場合、当社は速やかに、当社の定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、当社所定の方法により本サービスを退会した場合に限り、当社はその収集又は利用を停止します。
                    </p>
                </div>
                <div class="block">
                    <h2 class="h2">4.外部送信、第三者提供、情報収集モジュールの有無
                    </h2>
                    <p class="txt">
                        4-1 本サービスでは、以下の提携先が、ユーザーの端末にCookieを保存し、これを利用して利用者情報を蓄積及び利用している場合があります。
                    </p>
                    <p class="txt">(1) 提携先：matomo
                    </p>
                    <p class="txt">
                        (2) 上記提携先のプライバシーポリシーのURL：
                    </p>
                    <a href="https://matomo.org/privacy-policy/" target="_blank" rel="noopener noreferrer" class="matomo_link">
                        <p class="txt">https://matomo.org/privacy-policy/
                        </p>
                    </a>
                    <p class="txt">
                        (3) 上記提携先のオプトアウト（無効化）URL：
                    </p>
                    <a href="https://matomo.org/privacy-policy/" target="_blank" rel="noopener noreferrer" class="matomo_link">
                        <p class="txt">https://matomo.org/privacy-policy/
                        </p>
                    </a>
                    <p class="txt">
                        (4) 利用目的：本サイトの閲覧状況及び当社サイトを含む広告効果等の情報を解析するため
                    </p>
                </div>
                <div class="block">
                    <h2 class="h2">5.第三者提供
                    </h2>
                    <p class="txt">
                        当社は、利用者情報のうち、個人情報については、あらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる必要があり第三者に提供する場合はこの限りではありません。
                    </p>
                    <p class="txt">(1) 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
                    </p>
                    <p class="txt">(2) 合併その他の事由による事業の承継に伴って個人情報が提供される場合
                    </p>
                    <p class="txt">(3) 第4項の定めに従って、提携先または情報収集モジュール提供者へ個人情報が提供される場合
                    </p>
                    <p class="txt">(4)
                        国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合
                    </p>
                    <p class="txt">(5) その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合
                    </p>
                </div>
                <div class="block">
                    <h2 class="h2">6.安全管理措置
                    </h2>
                    <p class="txt">
                        個人情報への不正アクセス、個人情報の漏えい、滅失、又はき損の予防及び是正のため、当社内において規程を整備し安全対策に努めます。以上の目的を達するため、当社は以下の措置を講じています。
                    </p>
                    <p class="txt">①　個人情報・個人データの適正な取扱いのため、法令及びガイドライン所定が定める各対応を実施するに当たっての基本方針の策定
                    </p>
                    <p class="txt">②　取得・利用・保存・提供・削除・廃棄等の各対応及び責任者と役割を定めた各種規定の策定
                    </p>
                    <p class="txt">
                        ③　責任者の設置、個人データを取り扱う従業員及び取扱い個人データの範囲の明確化、法及び規程に違反している事実又は兆候を把握した場合の責任者への報告連絡体制の整備、取扱い状況に関する定期点検等の組織的安全管理措置
                    </p>
                    <p class="txt">
                        ④　個人データについての秘密保持に関する事項を就業規則に記載し、個人データの取扱いに関する留意事項について定期研修を実施する等の人的安全管理措置
                    </p>
                    <p class="txt">
                        ⑤　従業員の入退出管理、持ち込み機器の制限、個人データを取り扱う機器及び電子媒体・書類の盗難・紛失等を防止するための持ち出し制限・管理等の物理的安全管理措置
                    </p>
                    <p class="txt">⑥　個人データを取り扱う情報システムに対する外部からの不正アクセス又は不正ソフトウェアから保護するシステムの導入等の技術的安全管理措置
                    </p>
                </div>
                <div class="block">
                    <h2 class="h2">7.個人情報の開示等
                    </h2>
                    <p class="txt">
                        当社は、ユーザーご本人または代理人から、個人情報保護法の定めに基づき個人情報の利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供停止、第三者提供記録の開示（以下、「開示等」）を求められたときは、ユーザーご本人またはその代理人からのご請求であることを確認の上で、ユーザーまたはその代理人に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり1,000円）を頂戴しておりますので、あらかじめ御了承ください。
                    </p>
                </div>
                <div class="block">
                    <h2 class="h2">8.お問い合わせ窓口
                    </h2>
                    <p class="txt">
                        ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。
                    </p>
                    <p class="txt">〒579-8046 大阪府東大阪市昭和町12-18
                    </p>
                    <p class="txt">エム・エイチ・システム株式会社
                    </p>
                    <p class="txt">個人情報取扱責任者：宝蔵 栄次
                    </p>
                    <a href="tel:0729808780" class="tel">
                        <p class="txt">連絡先：072-980-8780
                        </p>
                    </a>
                </div>
                <div class="block">
                    <p class="txt">
                        【2022年6月20日制定】
                    </p>
                    <p class="txt">宝蔵 栄次</p>

                </div>
            </div>
        </div>
    </div>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>