---
const siteDomein = "https://m-h-system.co.jp/system_panel/uploads/images/";
---

<footer class="commonFooter">
    <section class="section sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240812173735693403.png'} alt="背景用の画像" class="img" width="1440" height="518" />
        </div>
        <div class="sectionInr">
            <div class="sectionHead">
                <h2 class="sectionHeadTtl">Contact</h2>
                <p class="sectionHeadDesc">お問い合わせ</p>
            </div>
            <p class="txt">
                エム・エイチ・システム株式会社のホームページをご覧いただきありがとうございます。<br> 保管棚や保管に関する課題などお問い合わせは下記お電話、またはお問い合わせフォームよりご連絡ください。
                <br> お見積り・ご相談は無料ですので、お気軽にお問い合わせください。
            </p>
            <div class="normalBtnArea">
                <a href="tel:0729808780" class="telLink link">
                        <img src={siteDomein + '20240815142226999372.png'} alt="電話アイコン画像" width="33" height="33" class="img" />
                        <p class="telLinkTxt">072-980-8780</p>
                    </a>
                <a href="./contact" class="normalBtn contactBtn">
                    <p class="contactBtnIcon">
                        <img src={siteDomein + '20240815142226684231.png'} alt="メールアイコン画像" width="24" height="24" class="icon">
                        <img src={siteDomein + '20240815142226834719.png'} alt="メールアイコン画像" width="24" height="24" class="iconHover">
                    </p>
                    <p class="normalBtnTxt">お問い合わせフォーム</p>
                </a>
            </div>

        </div>
    </section>
    <section class="footer sectionBg">
        <div class="sectionBgImg">
            <img src={siteDomein + '20240812173735158727.png'} alt="背景用の画像" class="img" width="545" height="386" />
        </div>
        <div class="footerRow flex">
            <div class="footerInfo">
                <a href="./" class="footerLogo">
                    <img src={siteDomein + '20240815143652587135.png'} alt="エム・エイチ・システム株式会社 ロゴ画像" width="277"
                        height="38" class="img" />
                </a>
                <address class="footerAddress">
                    <p class="txt">大阪府東大阪市昭和町12-18</p>
                    <a href="tel:0729808780" class="footerAddressLink">
                        <p class="txt">Tel.072-980-8780</p>
                    </a>
                </address>
            </div>
            <nav class="footerLink">
                <a href="./" class="navLink">
                    <p class="navLinkTxt">ホーム</p>
                </a>
                <a href="./strengths" class="navLink">
                    <p class="navLinkTxt">会社の強み</p>
                </a>
                <a href="./service" class="navLink">
                    <p class="navLinkTxt">事業内容</p>
                </a>
                <a href="#" class="navLink">
                    <p class="navLinkTxt">施工事例</p>
                </a>
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
                <a href="./company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
                <a href="./contact" class="navLink">
                    <p class="navLinkTxt">お問い合わせ</p>
                </a>
                <a href="#" class="navLink">
                    <p class="navLinkTxt">プライバシーポリシー</p>
                </a>
            </nav>
        </div>
        <div class="footerCopy">
            <p class="txt">&copy; 2024 エム・エイチ・システム株式会社</p>
            <div id="pageTopBtnLink" class="pageTopBtn">
                <a href="./" class="pageTopBtnLink">
                    <img src={siteDomein + '20240817134656305276.png'} alt="ページ上部に戻る" class="img icon" width="24" height="24">
                    <img src={siteDomein + '20240817133918289265.png'} alt="ページ上部に戻る" class="img iconHover" width="24" height="24">
                </a>
            </div>
        </div>
    </section>
</footer>