---
const siteDomein = "https://m-h-system.co.jp/system_panel/uploads/images/";
---

<header class="header" id="jsHeader">
    <div class="headerInr">
        <a href="/" class="logo">
            <img src={siteDomein + '20240815143652587135.png'} alt="エム・エイチ・システム株式会社 ロゴ画像" width="106" height="61" class="logoImg" />
        </a>
        <nav class="headerNav">
            <div class="links">
                <a href="/strengths" class="navLink">
                    <p class="navLinkTxt">会社の強み</p>
                </a>
                <a href="/service" class="navLink">
                    <p class="navLinkTxt">事業内容</p>
                </a>
                <a href="#" class="navLink">
                    <p class="navLinkTxt">施工事例</p>
                </a>
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
                <a href="/company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
                <a href="tel:0729808780" class="telLink link">
                    <img src={siteDomein + '20240815142226999372.png'} alt="電話アイコン画像" width="33" height="33" class="img" />
                    <p class="telLinkTxt">072-980-8780</p>
                </a>
                <a href="/contact" class="normalBtn contactBtn">
                    <p class="contactBtnIcon">
                        <img src={siteDomein + '20240816145510182376.png'} alt="メールアイコン画像" width="24" height="24" class="icon">
                        <img src={siteDomein + '20240816145510702274.png'} alt="メールアイコン画像" width="24" height="24" class="iconHover">
                    </p>
                    <p class="normalBtnTxt">お問い合わせ</p>
                </a>
            </div>
        </nav>
    </div>
    <div class="hamburger">
        <p class="span"></p>
        <p class="span"></p>
        <p class="span"></p>
    </div>
    <div class="globalMenuSp">
        <nav class="hUl">
            <div class="hamburgerList">
                <a href="/strengths" class="navLink">
                    <p class="navLinkTxt">会社の強み</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/service" class="navLink">
                    <p class="navLinkTxt">事業内容</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">施工事例</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/company" class="navLink">
                    <p class="navLinkTxt">会社概要</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/contact" class="navLink normalBtn">
                    <p class="normalBtnTxt">お問い合わせ</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="tel:0729808780" class="telLink navLink">
                    <img src={siteDomein + '20240821182900648337.png'} alt="電話アイコン画像" width="33" height="33" class="img" />
                    <p class="telLinkTxt">072-980-8780</p>
                </a>
            </div>
        </nav>
    </div>
</header>