$white-color: #fff;
$black-color: #333;
$accent-color: #024EC0;
$large-width: 1100px;
$blue-color: #024EC0;
$light-blue-color: #D0DFEE;
$orange-color: #DA7517;
$gray-color: #E5E5E5;
$footer-color: linear-gradient(171.82deg, #003589 -1.63%, #2579C3 46.04%, #112B83 95.74%);
$font-size-l: 90px;
$font-size-m: 28px;
$font-size-s: 16px;
$heading-font: "Shippori Mincho",
serif;
$text-font: "Noto Sans JP",
sans-serif;
$alpha-font: "Poppins",
sans-serif;